
/**
    @file Card.css
    @author Brendan Dileo

    StAuth10244: I Brendan Dileo, 000879513 certify that this material is my original work. No other person's work has been used without due acknowledgement. I have not made my work available to anyone else.
**/

.card {
    width: 80px; 
    height: 120px; 
    border-radius: 8px;
    background-color: #fff; 
    border: 2px solid #000; 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif; 
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: all 0.2s ease-in-out;
}

/* Styles for when the card is 'picked', adds a gold border and moves it up */
.card.picked {
    border: 3px solid gold;  
    transform: translateY(-15px) scale(1.1);
    box-shadow: 0 0 15px gold;
}

.card .card-suit {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
}

.card .card-value {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    font-weight: bold;
}

.red-suit, .red-value {
    color: red;
}

.black-suit, .black-value {
    color: black;
}

