
/* Card.css */
/* Styles for induvidual Cards */
/* Brendan Dileo */

.card {
    width: 60px;
    height: 90px;
    border-radius: 8px;
    background-color: white;
    border: 2px solid black;
}

.card.picked {
    border: 2px solid rgb(23, 253, 15);  
    transform: translateY(-15px);
}
