
/* Deck.css
   Brendan Dileo
*/

.deck-container {
   display: flex;
   flex-direction: column; 
   align-items: center; 
}

.deck {
   text-align: center;
   width: 70px;
   height: 120px;
   background-color: rgb(238, 238, 238);
   border: 2px solid #000;
   border-radius: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   margin-bottom: 20px; 
   cursor: pointer;
   transition: transform 0.2s;
}

.deck:hover {
   transform: translateY(-15px);
}

.card-list-container {
   text-align: center;
}

.card-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 10px;
}

.empty-deck {
   border: 2px solid black;
   padding: 10px;
   font-weight: bold;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dealer-message {
   font-size: 20px;
   margin-bottom: 10px;
}
