
/* 
  @file App.css
  @author Brendan Dileo

  Global CSS Styles

  StAuth10244: I Brendan Dileo, 000879513 certify that this material is my original work. No other person's work has been used without due acknowledgement. I have not made my work available to anyone else.
*/

.main-container {
  text-align: center;
  margin: 200px;
}

.card-container {
  margin: 10px;
  border: 1px solid rgb(3, 3, 3);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.7);
}

body {
  background-color: rgb(180, 180, 180);
}